@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}


.container {
  border: 2px solid gray;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.big_box {
  border: 2px solid gray;
  width: 100px;
  height: 100px;
}

.small_box {
  display: flex;
  align-items: center;
}

.box {
  border: 2px solid gray;
  height: 50px;
  width: 50px;
  margin-left: 24px;
}